<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет products -->
<!--{% block title %}-->
<!--Post-->
<!--{% endblock title %}-->

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости</h1>
    {% if post %}
           <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата создания</td>
               <td>Текст новости</td>
           </tr>
        {% for p in post %}
               <tr>
               <td>{{ p.title }}</td>
               <td>{{ p.created | date:'d M Y' }}</td>
               <td>{{ p.text|truncatewords:20|censor }}</td>
               </tr>
         {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}
