{% extends 'flatpages/default.html' %}
{% block content %}
{% load custom_filters %}
{% load custom_tags %}
<h1>Все новости</h1>

    <br>
    <h1>Search a news</h1>

    <form action=""  method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Search">
    </form>



    {% if post %}
           <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата создания</td>
               <td>Текст новости</td>
           </tr>
        {% for p in post %}
               <tr>
               <td>{{ p.title }}</td>
               <td>{{ p.created | date:'d M Y' }}</td>
               <td>{{ p.text|truncatewords:20|censor }}<a href="{{p.id}}">читать далее</a></td></td>
               </tr>
         {% endfor %}
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}